* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monospaced, Geneva, Tahoma, sans-serif;

}
body {
    background-color: ghostwhite;
}
:root {
    /*--navbar: ;*/
}
/* ----- Navbar ----- */
nav {
    display: flex;
    justify-content: space-between;
}
/* ----- Main ----- */
main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
/* ----- Aside ----- */
aside {
    flex: 1;
    background-color: #9e92a8;
}
#usPhoto {
    height: 200px;
    width: 200px;
}
/* ----- taskSection ----- */
#taskSection {
    display: flex;
    flex: 3;
    justify-content: space-around;
    align-items: center;
    background-color: #8daea9;
}
form {
    display: flex;
    flex-direction: column;
}
#addTask {
    backdrop-filter: blur(20px);
}